{% block chat %}
<div id="chat-zone">
    <div id="chat-header">
        Game Chat
    </div>
    <div id="chat">
        <textarea id="chat-log" disabled></textarea><br>
        {% if session %}
            <input id="chat-input" class="add-comment" value="Say Something"><button id="post-comment-button">Post</button>
        {% else %}
            <input class="add-comment" value="Join a Session to Chat" disabled> <button id="post-comment-button">Post</button>
        {% endif %}
    </div>
{% endblock %}