{% block javascript %}
<script>
    /***************************  
              NEW CARD 
    ****************************/ 
    $(document).on('submit', '#new-card-form', function(event){
        event.preventDefault();
        let serializedData = $(this).serialize();
        console.log(serializedData);
        var csrf = $(this).find('input[name="csrfmiddlewaretoken"]').attr('value');
        create_card(serializedData, csrf);
    });

    function create_card(cleanData, csrf) {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrf);
            }
        });

        $.ajax({
            url:"{% url 'create_card' %}",
            type: "POST",
            data: { cleanData,
                'csrfmiddlewaretoken':$( "#csrfmiddlewaretoken" ).val()},

            success: function(response){
                $("#new-card-form").trigger('reset')
                $('#card-text').focus();
            },
            error: function(response){
            }
        })
    };

    /***************************  
            CHAT CLIENT 
    ****************************/ 

    const session_id = "{{ session }}"

    if(session_id){
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + session_id
            + '/'
        );

        chatSocket.onmessage = function(event){
            const data = JSON.parse(event.data);
            $("#chat-log").val(function(){
                return this.value + data.message + '\n'
            });
        }

        chatSocket.onclose = function(event){
            console.error("chat socket closed unexpectedly");
        }

        $("#chat-input").on('keypress', function(event){
            if(event.which == 13){
                $("#post-comment-button").click();
            }
        });

        $("#post-comment-button").on('click', function(event){
            const message = $("#chat-input").val();
            chatSocket.send(JSON.stringify({
                "message":message
            }));
            $("#chat-input").val("");
        })
    }

</script>
{% endblock %}