{% block javascript %}
<script>
    $(document).on('submit', '#new-card-form', function(event){
        event.preventDefault();
        let serializedData = $(this).serialize();
        console.log(serializedData);
        var csrf = $(this).find('input[name="csrfmiddlewaretoken"]').attr('value');
        create_card(serializedData, csrf);
    });

    function create_card(cleanData, csrf) {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrf);
            }
        });

        $.ajax({
            url:"{% url 'create_card' %}",
            type: "POST",
            data: { cleanData,
                'csrfmiddlewaretoken':$( "#csrfmiddlewaretoken" ).val()},

            success: function(response){
                $("#new-card-form").trigger('reset')
                $('#card-text').focus();
            },
            error: function(response){
            }
        })
    };
</script>
{% endblock %}