{% extends 'game/base.html' %}
{% load static %}
{% block content %}
    <p>Prompt Card:</p>
    <div class="card-box">
        <div class="card-block">
            <span class="prompt_card card">{{ prompt_card.card_text }}</span>
        </div>
    </div>
    {% if judge_time %}
        {% if active_player.is_judge %}        
            <form method="POST" action="{% url 'judge' session %}"> {% csrf_token %}
                <div class="card-box">
                    {% for card in noun_cards %} 
                        <span class="card-block">
                            <label class="card" for="card-{{card.pk}}">{{ card.card_text }}</label>
                            <input class="card-radio" type="radio" id="card-{{card.pk}}" name="winning_card" value="{{card.pk}}" required>
                        </span>
                    {% endfor %}
                    <button id="judge-button" name="judge-button" type="submit">CHOOSE</button>
                </div>
            </form>
        {% else %}
            <div class="card-box">
                {% for card in noun_cards %}
                    <span class="card-block">
                        <div class="card">{{ card.card_text }}</div>
                    </span>
                {% endfor %}
            </div>
        {% endif %}        
    {% elif end_round %}
        <div class="card-box"> 
            <span>
                <p>Winning Card:</p>
                <span class="card-block">
                    <span class="card" for="card-{{card.pk}}">{{ winning_card.card_text }}</span>
                    <span class="winning_player">{{ winning_player }}</span>
                    <a class="button" method="POST" name="prev_round" value="{{winning_card.pk}}" href="{% url 'play' session %}">Next Round</a>
                </span>
            </span>
        </div>
    {% else %}
        <div class="card-box">
        {% for card in noun_cards %} 
            <span class="card-block">
                <div class="card" for="card-{{card.pk}}">{{ card.card_text }}</div>
            </span>
        {% endfor %}
        </div>
    {% endif %}
    {% include "game/judge_js.html" %}
{% endblock %}