{% extends 'game/base.html' %}
{% load static %}
{% block content %}  
<div class="card-box">
    <div class = "card-block">
        <span class="prompt_card card" for="prompt_card-{{prompt_card.pk}}">{{ prompt_card.card_text }}</span>
    </div>
</div> 
    {% if active_player %} 
        {% for player, hand in players.items %} 
            {% if player == active_player %}
            <form method="POST" action="{% url 'judge' session %}"> 
                {% csrf_token %}
                <h1>Your - {{ player.nickname }} - Hand</h1>
                <div class="card-box">
                {% for card in hand %}
                    <span class="card-block">
                        <label class="card" for="card-{{card.pk}}">{{ card.card_text }}</label>
                        <input class="card-radio" type="radio" id="card-{{card.pk}}" name="noun_card" value="{{card.pk}}" required>
                    </span>
                {% endfor %}
                </div>
                <input type="hidden" name ="player" value ="{{player.pk}}"><input type="hidden" name = "prompt_card" value ="{{prompt_card.pk}}">
                {{ form.non_field_errors }}
                {{ form.noun_card.errors }}
                <button id="play-button" name="play-card" type="submit">Play</button>
            </form>
            {% endif %}
        {% endfor %}
    {% else %}
        You are not playing.
    {% endif %}
    {% include "game/judge_js.html" %}
{% endblock %}